In [1]:
import pandas as pd
import glob

path = r'/Users/sowmyavemulapalli/Desktop/Data_Analyst/Assignments/Project/Cryptocurrencies/Resources'
# use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

data_df = pd.concat(li, axis=0, ignore_index=True)

In [2]:
data_df.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,NEM,XEM,2015-04-02 23:59:59,0.000323,0.000227,0.000242,0.000314,28549.400391,2.823534e+06
1,2,NEM,XEM,2015-04-03 23:59:59,0.000330,0.000291,0.000309,0.000310,20677.900391,2.792457e+06
2,3,NEM,XEM,2015-04-04 23:59:59,0.000318,0.000251,0.000310,0.000277,23550.199219,2.488770e+06
3,4,NEM,XEM,2015-04-05 23:59:59,0.000283,0.000218,0.000272,0.000232,26800.199219,2.087388e+06
4,5,NEM,XEM,2015-04-06 23:59:59,0.000299,0.000229,0.000232,0.000289,22511.500000,2.598354e+06

In [3]:
data_df["Difference"] = data_df["High"] - data_df["Low"]

In [4]:
data_df.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap,Difference
0,1,NEM,XEM,2015-04-02 23:59:59,0.000323,0.000227,0.000242,0.000314,28549.400391,2.823534e+06,0.000096
1,2,NEM,XEM,2015-04-03 23:59:59,0.000330,0.000291,0.000309,0.000310,20677.900391,2.792457e+06,0.000039
2,3,NEM,XEM,2015-04-04 23:59:59,0.000318,0.000251,0.000310,0.000277,23550.199219,2.488770e+06,0.000068
3,4,NEM,XEM,2015-04-05 23:59:59,0.000283,0.000218,0.000272,0.000232,26800.199219,2.087388e+06,0.000064
4,5,NEM,XEM,2015-04-06 23:59:59,0.000299,0.000229,0.000232,0.000289,22511.500000,2.598354e+06,0.000069

In [5]:
data_df["Volatility_percent"] = (data_df["Difference"]/data_df["Close"])*100

In [6]:
data_df.loc[data_df['Volatility_percent'] <= 30, 'Volatility'] = 0 
data_df.loc[(data_df['Volatility_percent'] > 30) & (data_df['Volatility_percent'] <= 60), 'Volatility'] = 1
data_df.loc[data_df['Volatility_percent'] > 60 , 'Volatility'] = 2

In [8]:
data_df["Daily_Difference"] = ((data_df["Close"]- data_df["Open"])/data_df["Open"] *100).round(2)
data_df.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap,Difference,Volatility_percent,Volatility,Daily_Difference
0,1,NEM,XEM,2015-04-02 23:59:59,0.000323,0.000227,0.000242,0.000314,28549.400391,2.823534e+06,0.000096,30.536206,1.0,29.56
1,2,NEM,XEM,2015-04-03 23:59:59,0.000330,0.000291,0.000309,0.000310,20677.900391,2.792457e+06,0.000039,12.538314,0.0,0.49
2,3,NEM,XEM,2015-04-04 23:59:59,0.000318,0.000251,0.000310,0.000277,23550.199219,2.488770e+06,0.000068,24.489938,0.0,-10.86
3,4,NEM,XEM,2015-04-05 23:59:59,0.000283,0.000218,0.000272,0.000232,26800.199219,2.087388e+06,0.000064,27.752533,0.0,-14.58
4,5,NEM,XEM,2015-04-06 23:59:59,0.000299,0.000229,0.000232,0.000289,22511.500000,2.598354e+06,0.000069,24.008855,0.0,24.42

In [11]:
data_df.count()

SNo                   37082
Name                  37082
Symbol                37082
Date                  37082
High                  37082
Low                   37082
Open                  37082
Close                 37082
Volume                37082
Marketcap             37082
Difference            37082
Volatility_percent    37082
Volatility            37082
Daily_Difference      37082
dtype: int64

In [10]:
data_df.to_csv('cryptocurrencies.csv', index=False)